<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrrZ-rBxnhqr_JsXXkeDJs0U0woKrVWSI</string>
	<key>GCM_SENDER_ID</key>
	<string>1054783553032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mokura</string>
	<key>PROJECT_ID</key>
	<string>mokura-13dbd</string>
	<key>STORAGE_BUCKET</key>
	<string>mokura-13dbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054783553032:ios:041dadd100175447f39bbd</string>
</dict>
</plist>